<div class="recipe-container">
    <div class="recipe-container__title">
        <div class="title__wrapper">
            <button mat-button class="back-button" routerLinkActive="active" routerLink="/">Назад</button>
            <h1 class="title">Добавить новый рецепт</h1>
        </div>
        <button mat-button (click)="addRecipeDto()" class="function-button">Опубликовать</button>
    </div>
    <div class="recipe-container-form">
        <div class="recipes-list-container">
            <img class="img" src="../../../assets/addphoto.png" alt="Добавить картинку">
            <form class="recipe">
                <input class="input-data-name"
                type="text" 
                [(ngModel)]="currentRecipeDtoName"
                placeholder="Название рецепта" >
                
                <textarea class="input-data-name description" 
                placeholder="Краткое описание рецепта (150 символов)" 
                [(ngModel)]="currentRecipeDtoDescription"></textarea>
                <input class="input-data-name" type="text" placeholder="Добавить теги" [(ngModel)]="currentTagItemName">
                <div class="info-container">
                    <div class="info-container__wrapper">
                        <input class="input-data-name info" type="number" placeholder="Время готовки" [(ngModel)]="currentRecipeDtoCookingTime">
                        <div class="text">Минут</div>
                    </div>
                    <div class="info-container__wrapper">
                        <input class="input-data-name info" type="number" placeholder="Порций в блюде" [(ngModel)]="currentRecipeDtoPersonNumber">
                        <div class="text">Персон</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container" style="display: flex; margin: 0 auto; width: 1200px; margin-bottom: 100px;">
        <div class="ingedient-box" style="width: 380px; margin-right: 30px;">
            <h3 class="title-ingredient">Ингридиенты</h3>
            <div class="ingedient-box__wrapper" *ngFor="let ingredientitem of IngredientItems">
                <form> 
                    <input class="input-data-ingredient" type="text" style="width: 320px;" placeholder="Заголовок для ингридиентов" [(ngModel)]="currentIngredientItemName">
                    <textarea class="input-text-ingredient" type="text" placeholder="Список продуктов для категории" [(ngModel)]="currentIngredientItemProducts"></textarea>
                </form>
            </div>
            <button class="title-step" (click)="addIngredientItem()">Добавить заголовок</button>
        </div>
        <div class="step-box">
            <div class="step-box__wrapper" *ngFor="let stepitem of Steps">
                <button class="close-button" (click)="deleteStep()" ></button>
                <div class="title-form">Шаг {{stepitem.StepNumber}}</div>     
                <textarea
                    class="input-data-step"
                    placeholder="Описание шага"
                    [(ngModel)]="currentStepItemName"></textarea>
            </div>
            <button class="title-step" (click)="addStepItem()" style="margin-left: 200px;">Добавить шаг</button>
        </div>
    </div>
</div>